<a href="https://colab.research.google.com/github/nanytahm/google-colab/blob/main/Desafio_Python_WoMakersCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Bem vindas ao desafio de Python do Bootcamp Data Analytics da WoMakersCode!
Neste notebook, voce deve escrever o codigo python em resposta à cada uma das perguntas. Esteja atenta ao enunciado do problema!

### Desafio 1
Escreva uma função em python que lê dois números inteiros (a,b) e gere como resultado as seguintes operações:adição, subtração, multiplicação e divisão. Execute a funçao na celula abaixo, deixando visivel exemplos de resultados.

In [1]:
##### ESCREVER A FUNÇAO ABAIXO
def operations(a,b):
  #### Escrever abaixo
  print(f"adição: {a+b} , subtração: {a-b}, multiplicação: {a*b}, divisão: {a/b}")

In [2]:
#### RODAR A FUNÇAO
a1=int(input("ingrese primer numero: "))
a2=int(input("ingrese segundo numero: "))
operations(a1,a2)

ingrese primer numero: 5
ingrese segundo numero: 7
adição: 12 , subtração: -2, multiplicação: 35, divisão: 0.7142857142857143

In [3]:
a1=int(input("ingrese primer numero: "))
a2=int(input("ingrese segundo numero: "))
operations(a1,a2)

ingrese primer numero: 8
ingrese segundo numero: 4
adição: 12 , subtração: 4, multiplicação: 32, divisão: 2.0

In [4]:
a1=int(input("ingrese primer numero: "))
a2=int(input("ingrese segundo numero: "))
operations(a1,a2)

ingrese primer numero: 6
ingrese segundo numero: 6
adição: 12 , subtração: 0, multiplicação: 36, divisão: 1.0

### Desafio 2
Escreva uma função em python que leia como input uma idade e retorne a classificaçao da ideade do individuo da seguinte forma em:

*  Criança – 0 a 12 anos
*  Adolescente – 13 a 17 anos
*  Adulto – acima de 18 anos


Se a idade for um número negativo, mostrar a mensagem que a "idade inválida"

In [5]:
##### ESCREVER A FUNCAO ABAIXO
def classifica_idade(idade):
  #### escrever abaixo
  if (idade >= 0 and idade <= 12):
    print("criança")
  elif (idade >= 13 and idade <= 17):
    print("Adolescente")
  elif idade >= 18:
    print("Adulto")
  else:
    print('idade invalida')

In [6]:
#### RODAR A FUNCAO
id=int(input('idade:'))
classifica_idade(id)

idade:15
Adolescente

### Desafio 3
Crie uma função em python que receba como input um determinado horário em horas e retorne a conversao deste horário para segundos

In [7]:
##### ESCREVER A FUNCAO ABAIXO
def time_converter(t):
  ##### escrever abaixo
  print(f"{t} horas tiene {t*60*60} segundos")

In [8]:
##### RODAR A FUNCAO
horario=int(input('ingrese hora: '))
time_converter(horario)

ingrese hora: 5
5 horas tiene 18000 segundos

### Desafio 4
Crie uma função em python que calcule a média artimética de uma aluna que cursou a disciplina de Programação I. A funcao deve receber como input as notas M1, M2 e M3 e calcular a média. Após a média calculada, a funcao deve anunciar se a aluna foi aprovado, reprovado ou pegou exame de acordo conm a seguinte classificacao:

* Se a média estiver entre 0.0 e 4.0, o aluno está reprovado
* Se a média estiver entre 4.1 e 6.0, o aluno pegou exame
* Se a média for maior do que 6.0, o aluno está aprovado
* Se o aluno pegou exame, deve ser lida a nota do exame. Se a nota do exame for maior do que 6.0, está aprovado, senão; está reprovado

In [9]:
##### ESCREVER A FUNCAO ABAIXO
def calcula_media(M1,M2,M3):
  ###### escrever abaixo
  med=(M1+M2+M3)/3
  if med<=4:
    print("aluno está reprovado")
  elif med>4 and med<=6:
    print(f"aluno pegou exame, ele tem {med}")
  elif med>6:
    print("aluno está aprovado")

In [10]:
##### RODAR A FUNCAO
n1=float(input("nota 1: "))
n2=float(input("nota 2: "))
n3=float(input("nota 3: "))
calcula_media(n1,n2,n3)

nota 1: 8
nota 2: 2
nota 3: 4
aluno pegou exame, ele tem 4.666666666666667

### Desafio 5
Dado a seguinte lista: 
* equipes_bootcamp_dados = [BerthaLutz, GraceHopper, JaquelineGoes, SarahGilbert]

1. Crie uma função em python que conte quantas vezes aparece a letra a em cada elemento da lista. Seu resultado deve ser uma lista . exemplo: [4,0,1,2]

2. Leia a lista de alunas: ['Maria', 'Ana','Camila','Mariana','Elaine','Patricia','Marina','Erica','Larissa','Luiza', 'Nicole','Bruna']

3. Crie uma função que atribua cada uma das alunas em uma das equipes da lista equipes_bootcamp_dados, de modo que cada equipe pode ter 3 alunas no máximo.

 Para isso ordene em alfabética. O seu resultado deve ser um dicionário python. exemplo {'BerthaLutz': ['Ana', 'Bruna', 'Camila'], 'GraceHopper': ['Elaine','Erika','Luiza'],... }

In [11]:

##### ESCREVER A FUNCAO DA ETAPA 1
def contador(equipes_bootcamp_dados):
  #### escrever abaixo
  cont=[]

  for index in equipes_bootcamp_dados:
      cont.append(index.count("a"))

  return cont

In [12]:
###### RODAR A ETAPA 1
equipes_bootcamp_dados = ['BerthaLutz', 'GraceHopper', 'JaquelineGoes', 'SarahGilbert']
contador(equipes_bootcamp_dados)

[1, 1, 1, 2]

In [13]:
##### LER A ETAPA 2
lista_alunas = ['Maria', 'Ana', 'Camila', 'Mariana', 'Elaine', 'Patricia', 'Marina', 'Erica', 'Larissa', 'Luiza', 'Nicole', 'Bruna']

In [14]:

##### ESCREVER A FUNCAO DA ETAPA 3
def ordenacao(lista_alunas, equipes_bootcamp_dados):
  ### escrever abaixo
    listaA = lista_alunas.sort()

    nl=len(lista_alunas)
    n = 3
    nuevalista=[lista_alunas[i:i + n] for i in range(0, nl, n)]

    dic = dict(zip(equipes_bootcamp_dados,nuevalista))
    print(dic)

In [15]:
##### RODAR A FUNCAO DA ETAPA 3
ordenacao(lista_alunas, equipes_bootcamp_dados)

{'BerthaLutz': ['Ana', 'Bruna', 'Camila'], 'GraceHopper': ['Elaine', 'Erica', 'Larissa'], 'JaquelineGoes': ['Luiza', 'Maria', 'Mariana'], 'SarahGilbert': ['Marina', 'Nicole', 'Patricia']}

### Desafio 6
Escreva uma função em python que leia uma temperatura em graus Celsius e retorne a conversao dela em graus Fahrenheit. 

A fórmula de conversão é F = (9 * C + 160) / 5, na qual F é a temperatura em Fahrenheit e C é a temperatura em graus Celsius

In [16]:
##### ESCREVER A FUNCAO
def conversor_temperatura(temperatura):
  ### escrever abaixo
  F=(9*temperatura+160)/5
  print(f"{temperatura} graus Celsius é {F} em graus Fahrenheit")

In [17]:
##### RODAR A FUNCAO
conversor_temperatura(12)

12 graus Celsius é 53.6 em graus Fahrenheit